html {
  scrollbar-width: thin;
  scrollbar-color: #88070a #d5bf94;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    overflow: visible;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#title {
    font-size: 30px;
}
#navdiv {
    margin-top: 1%;
    margin-left: -2em;
}
#navdiv a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    position: relative;
}
.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color:#88070a;  /* You can change the underline color */
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
.nav-links:hover a {
    color:#88070a /* Hover text color */
}

.nav-links a:hover::after {
    width: 100%;
}
#account {
    margin-top: 0.4em;
    margin-right: 2em;
}
#account a{
    font-size: 27px;
    color: black;
}
.user_profile{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    position: relative;
}
#cart-count {
    position: absolute;
    right: 13.4em;
    top: 1.8em;
    font-size: 15px;
    padding: 2px;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    background-color: #88070a;
    color: white;
}
#dashboardbtn {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
}

/* Section-1 */

#section1 {
    background-color: #d5bf94;
    position: relative;
    height: 430px;
}
#section1-img img {
    margin-top: 2em;
    object-fit: cover;
}
#section1-title {
    position: absolute;
    top: 5em;
    left: 3em;
    font-size: 40px;
    font-family: 'Calisto MT';
    font-weight: bold;
    color: #88070a;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
}

/* Section-2 */

#section2 {
    margin-top: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
}
.product-item {
    flex: 1;
    max-width: 30%;
    margin: 10px;
}
.card-image {
    position: relative;
    display: inline-block;
}
.card-image img {
    margin-top: 1.5em;
}
.product-available, .product-unavailable {
    position: absolute;
    top: 0.5em;
    left: 2%;
    padding: 8px 12px;
    background-color: rgba(38, 156, 38, 0.701);
    border-radius: 20px;
    color: white;
    z-index: 2;
    
}
.product-unavailable {
    background-color: rgba(255, 0, 0, 0.746);
}
.product-item img {
    border-radius: 10px;
    background-size: contain;
    background-position: center;
    object-fit: cover;
}
#section2-product-name {
    margin-top: 0.8em;
    margin-left: 0.4em;
    font-size: 19px;
    font-family: 'Candara';
    font-weight: bold;
}
#section2-product-desc {
    margin-left: 0.4em;
    margin-top: 0.5em;
    letter-spacing: 1px;
    font-size: 16px;
}
#section2-product-price {
    margin-left: 0.4em;
    margin-top: 0.5em;
    color: rgb(136, 7, 10);
    font-size: 18px;
    font-family: 'Candara';
    font-weight: bold;
}
.buy-now-button {
    display: flex;
    margin-top: 1em;
}
.disabled-button {
    pointer-events: none;
    background-color: #ccc;
    color: #666;
    text-decoration: none;
    cursor: not-allowed;
    opacity: 0.6;
}
#buyBtn1 {
    margin-right: 0.5em;
    text-decoration: none;
    color: white;
    background-color:rgb(242, 172, 81);
    padding: 10px;
    width: 140px;
    text-align: center;
    border-radius: 10px;
}
#buyBtn2 {
    text-decoration: none;
    color: white;
    background-color:rgb(242, 172, 81);
    padding: 10px;
    width: 130px;
    text-align: center;
    border-radius: 10px;
}


/* Footer-Section */

footer {
    background-color: #88070a;
    margin-top: 2em;
    color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
}
.footer-div {
    margin-top: 1em;
    margin-left: 1em;
}
.footer-div2 {
    margin-top: 1em;
    margin-left: 7em;
}
.footer-div3 {
    margin-top: 1em;
    margin-left: 4em;
}
.footer-div4 {
    margin-top: 1em;
    margin-left: 4em;
}
.footer-title {
    font-size: 26px;
    color: #d5bf94;
    font-family: 'Californian FB';
    font-weight: bold;
}
.footer-div1-icon {
    color: #d5bf94;
}
.footer-grid1 {
    margin-top: 1em;
    font-size: 20px;
}
.footer-sub-grid {
    margin-top: 0.7em;
}
.footer-maingrid {
    margin-top: 1em;
    font-size: 20px;
    margin-left: -0.5em;
}
.footer-sub-grid2 {
    margin-top: 0.7em;
    margin-left: -0.5em;
}

.footer-text {
    font-size: 18px;
    color: #fff;
    margin-left: 0.5em;
    font-family: 'STXihei';
}
.footer-grid4-icon {
    font-size: 22px;
}
#footer-hr {
  border: 1px solid #d5bf94;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 3em;
  width: 380%;
  margin-left: 1em;
}
#footer-copyright {
  display: flex;
  flex-direction: column;
}
#copyright {
  width: 370%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: -15px;
  color: #616161;
}