<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">


</head>
<body>
    
    <div class="wrapper">

        <!-- Header -->
        <header class="navbar">
            <div id="title">LaxmiSweetsStop.</div>
            <div id="navdiv">
                <nav class="nav-links">
                    <span><a href="/homepage">Home</a></span>
                    <span style="margin-left: 1em; margin-right: 1em;"><a href="/home-shop">Shop</a></span>
                    <span style="margin-right: 1em;"><a href="/home-about">About</a></span>
                    <span><a href="/home-contact">Contact</a></span>
                </nav>
            </div>
            <div id="account">
                <a href="/user-profile" class="bi bi-person user-profile" style="margin-right: 1em;"></a>
                <a href="/cart" class="bi bi-cart user-profile" style="margin-right: 1.1em; text-decoration: none;"></a>

                <!-- Display Cart Count -->
                {% if cart_count > 0 %}
                    <span id="cart-count">
                        <span style="margin-left: 4px;">{{ cart_count }}</span>
                    </span>
                {% endif %}
                
                <a href="/admin-login" id="dashboardbtn" style="font-size: 20px;">Dashboard</a>
            </div>
        </header>

        <main>
            <!-- section1 -->
            <section class="slider">
                <div class="hero-carousel">
                    <div class="hero-content">
                        <!-- <img src="{% static 'images/home_image.jpg' %}" alt="home_image" width="100%" height="450px"> -->
                        <div class="section1-heading">50+ Products to Choose From</div>
                        <h3 class="section1-para">We care about your health and make Heiginic Sweets</h3>
                        <div class="section1-carousel-link"><a href="/login" class="hero-btn">Shop Now</a></div>
                    </div>
                </div>
            </section>

            <!-- Section2 -->
            <section class="section2">

                <div class="icon-item">
                    <img src="{% static 'images/icon-quality.jpg' %}" alt="" width="40px" height="40px">
                    <span class="icon-name">High Quality</span>
                </div>
                <div class="icon-item"> 
                    <img src="{% static 'images/icon-veg.jpg' %}" alt="" width="40px" height="40px">
                    <span class="icon-name">100% Vegetarian</span>
                </div>
                <div class="icon-item">
                    <img src="{% static 'images/icon-hygenic.jpg' %}" alt="" width="40px" height="40px">
                    <span class="icon-name">Hygienic</span>
                </div>

            </section>

            <!-- Section3 -->
            <section class="section3">
                <div id="section3-heading">Best Sellers</div>
                <div id="section3-para">Sweeten your day with a wide variety of our best selling delicacies</div>

                <div class="product-list">
                    {% for product in products %}
                        <div class="product-item">

                            <div class="card-image">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="280px" height="280px">
                                {% if product.in_stock %}
                                    <div class="product-available">Stock</div>
                                {% else %}
                                    <div class="product-unavailable">Out of Stock</div>
                                {% endif %}
                            </div>

                            <div id="section3-product-name">{{ product.name }}</div>

                            {% if product.in_stock %}
                                <div id="section3-product-desc">{{ product.description }}</div>
                            {% endif %}

                            <div id="section3-product-price">&#8377; {{product.price }}</div>

                            <div class="buy-now-button">
                                <a href="#" id="buyBtn1"
                                    {% if not product.in_stock %} class="disabled-button" onclick="return false;" {% endif %}>
                                    Buy Now
                                </a>
                                <a href="/add/{{ product.id }}" id="buyBtn2"
                                    {% if not product.in_stock %} class="disabled-button" onclick="return false;" {% endif %}>
                                    Add to Cart</a>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </section>

            <!-- Section-4 -->
            <section id="section4">

                <div class="section4-heading">Our Collections</div>
                <div id="section4-img">
                    <div class="section4-images">
                        <a href="/home-wedding"><img src="{% static 'images/coll-1.jpg'%}" alt="" width="560px" height="350px"></a>
                        <div class="overlay"></div>
                        <div class="text-overlay">
                            <div class="section4-text">Wedding Collection</div>
                            <div class="section4-para">Choose from a variety of wedding sweets</div>
                        </div>
                        
                    </div>
                    <div style="margin-left: 3em; margin-right: 2em;" class="section4-images">
                        <a href="/home-special-occasion"><img src="{% static 'images/coll-2.jpg'%}" alt="" width="560px" height="350px"></a>
                        <div class="overlay"></div>
                        <div class="text-overlay">
                            <div class="section4-text">Special Occasions</div>
                            <div class="section4-para">Veriety of sweets available of every occasions</div>
                        </div>

                    </div>
                </div>

            </section>

            <!-- Section-5 -->

            <section id="section5">

                <div id="section5-maindiv">
                    <div id="section5-head"> <span>Celebrate Your's Occasions With Our Sweets</span></div>
                    <div id="section5-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum molestiae vel nisi fugit quaerat eius inventore at, nobis harum alias laudantium illum eos earum mollitia animi? Esse incidunt eaque dicta!</div>
                    <a href="/home-shop" id="section5-button-link"><div id="section5-button"><span style="margin-left: 1em;">Shop Now</span><span class="bi bi-chevron-right" style="margin-left: 0.5em;"></span></div></a>
                </div>

            </section>

            <!-- Section-6 -->

            <section id="section6">
                <div class="section6-container animate-on-scroll">
                    <div class="section6-text">
                        <h2 class="section6-heading">Why Choose Us?</h2>
                        <p class="section6-para">
                            At LaxmiSweetsStop, we bring generations of tradition and taste to your table with high-quality, hygienic, 100% vegetarian sweets. Discover the essence of celebration with every bite.
                        </p>
                    </div>
                    <div class="section6-image">
                        <img src="{% static 'images/home4.jpg' %}" alt="Sweets Display">
                    </div>
                </div>
            </section>

            <!-- Review Section -->
            <section id="section-review">
                <div id="review-maindiv">
                    
                    <div class="review-card review-card1">
                        <div class="review-img d-flex" >
                            <div class="review-card-img">
                                <img src="{% static 'images/p1.jpg' %}" alt="" width="70px" height="70px">
                            </div>
                            <div class="review-name-email">
                                <div class="review-name">John Deo</div>
                                <div class="review-email">johndeo@gmail.com</div>
                            </div>
                        </div>
                        <div class="review-para">
                            <p>MahalaxmiSweetStop is very authentic and traditional Sweets shop. Price is less and sweets is very testy.</p>
                        </div>
                        <div class="review-rating">
                            <span class="review-ratingname">4.6</span>
                            <span class="rating">
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-half"></span>
                            </span>
                        </div>
                    </div>

                    <div class="review-card review-card2">
                        <div class="review-img d-flex" >
                            <div class="review-card-img">
                                <img src="{% static 'images/p1.jpg' %}" alt="" width="70px" height="70px">
                            </div>
                            <div class="review-name-email">
                                <div class="review-name">John Deo</div>
                                <div class="review-email">johndeo@gmail.com</div>
                            </div>
                        </div>
                        <div class="review-para">
                            <p>MahalaxmiSweetStop is very authentic and traditional Sweets shop. Price is less and sweets is very testy.</p>
                        </div>
                        <div class="review-rating">
                            <span class="review-ratingname">4.6</span>
                            <span class="rating">
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-half"></span>
                            </span>
                        </div>
                    </div>

                    <div class="review-card review-card3">
                        <div class="review-img d-flex" >
                            <div class="review-card-img">
                                <img src="{% static 'images/p1.jpg' %}" alt="" width="70px" height="70px">
                            </div>
                            <div class="review-name-email">
                                <div class="review-name">John Deo</div>
                                <div class="review-email">johndeo@gmail.com</div>
                            </div>
                        </div>
                        <div class="review-para">
                            <p>MahalaxmiSweetStop is very authentic and traditional Sweets shop. Price is less and sweets is very testy.</p>
                        </div>
                        <div class="review-rating">
                            <span class="review-ratingname">4.6</span>
                            <span class="rating">
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-half"></span>
                            </span>
                        </div>
                    </div>

                    <div class="review-card review-card4">
                        <div class="review-img d-flex" >
                            <div class="review-card-img">
                                <img src="{% static 'images/p1.jpg' %}" alt="" width="70px" height="70px">
                            </div>
                            <div class="review-name-email">
                                <div class="review-name">John Deo</div>
                                <div class="review-email">johndeo@gmail.com</div>
                            </div>
                        </div>
                        <div class="review-para">
                            <p>MahalaxmiSweetStop is very authentic and traditional Sweets shop. Price is less and sweets is very testy.</p>
                        </div>
                        <div class="review-rating">
                            <span class="review-ratingname">4.6</span>
                            <span class="rating">
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-half"></span>
                            </span>
                        </div>
                    </div>

                    <div class="review-card review-card5">
                        <div class="review-img d-flex" >
                            <div class="review-card-img">
                                <img src="{% static 'images/p1.jpg' %}" alt="" width="70px" height="70px">
                            </div>
                            <div class="review-name-email">
                                <div class="review-name">John Deo</div>
                                <div class="review-email">johndeo@gmail.com</div>
                            </div>
                        </div>
                        <div class="review-para">
                            <p>MahalaxmiSweetStop is very authentic and traditional Sweets shop. Price is less and sweets is very testy.</p>
                        </div>
                        <div class="review-rating">
                            <span class="review-ratingname">4.6</span>
                            <span class="rating">
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-half"></span>
                            </span>
                        </div>
                    </div>

                    <div class="review-card review-card6">
                        <div class="review-img d-flex" >
                            <div class="review-card-img">
                                <img src="{% static 'images/p1.jpg' %}" alt="" width="70px" height="70px">
                            </div>
                            <div class="review-name-email">
                                <div class="review-name">John Deo</div>
                                <div class="review-email">johndeo@gmail.com</div>
                            </div>
                        </div>
                        <div class="review-para">
                            <p>MahalaxmiSweetStop is very authentic and traditional Sweets shop. Price is less and sweets is very testy.</p>
                        </div>
                        <div class="review-rating">
                            <span class="review-ratingname">4.6</span>
                            <span class="rating">
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-half"></span>
                            </span>
                        </div>
                    </div>
                
                </div>
            </section>

        </main>

        <!-- Footer-Section -->
        <footer>
            <div class="footer-div">
                <div class="footer-title">Contact Information</div>
                <div class="footer-grid1">
                    <span class="bi bi-shop footer-div1-icon"> 
                        <span class="footer-text" id="footer-grid1-text">Jaleswae, Baleswar, Odisha, <span style="margin-left: 2em;">756030</span></span>
                    </span>
                </div>
                <div class="footer-sub-grid">
                    <span class="bi bi-telephone footer-div1-icon">
                        <span class="footer-text">+91 9959334007</span>
                    </span>
                </div>
                <div class="footer-sub-grid">
                    <span class="bi bi-envelope footer-div1-icon">
                        <span class="footer-text">sales@mahalaxmisweets.com</span>
                    </span>
                </div>
            </div>

            <div class="footer-div2">
                <div class="footer-title">Quick Links</div>
                <div class="footer-maingrid">
                    <span class="footer-text">Contact Us</span>
                </div>
                <div class="footer-sub-grid2">
                    <span class="footer-text">Store Locator</span>
                </div>
            </div>
            
            <div class="footer-div3">
                <div class="footer-title">Policies</div>
                <div class="footer-maingrid">
                    <span class="footer-text">Payment & Shipping</span>
                </div>
                <div class="footer-sub-grid2">
                    <span class="footer-text">Return & Refund</span>
                </div>
                <div class="footer-sub-grid2">
                    <span class="footer-text">Privacy Policy</span>
                </div>
                <div class="footer-sub-grid2">
                    <span class="footer-text">Terms & Conditions</span>
                </div>
            </div>

            <div class="footer-div4">
                <div class="footer-title">Follow Us</div>
                <div class="footer-maingrid" style="margin-left: 0.1em;">
                    <span class="bi bi-instagram footer-grid4-icon"></span>
                    <span class="bi bi-facebook" style="margin-left: 0.8em;"></span>
                    <span class="bi bi-youtube" style="margin-left: 0.8em;"></span>
                    <span class="bi bi-linkedin" style="margin-left: 0.8em;"></span>
                    <div class="bi bi-twitter-x" style="margin-top: 1em;"></div>
                </div>
            </div>

            <div id="footer-copyright">
            <div id="footer-hr"></div>
            <div id="copyright">
                <p style="color: white; margin-bottom: 0.5em; font-family: 'Arial';">Copyright © 2025 Travel Agency</p>
            </div>
        </div>
        </footer>

    </div>

    <script>
        const observers = document.querySelectorAll('.animate-on-scroll');

        const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
        if (entry.isIntersecting) {
            entry.target.classList.add('visible');
        }
        });
        }, {
            threshold: 0.2
        });

        observers.forEach(el => observer.observe(el));
    </script>

</body>
</html>